*
!index.html
!v86.css
!mcp-sw.js
!README.md
!ROADMAP.md
!CONTRIBUTING.md
!LICENSE
!.gitignore
!build/
build/*
!build/v86_patched.js
!build/v86.wasm
!build/xterm.js
!bios/
bios/*
!bios/seabios.bin
!bios/vgabios.bin
!images/
images/*
!images/buildroot-bzimage68.bin
