*
!.gitattributes
!index.html
!v86.css
!mcp-sw.js
!README.md
!ROADMAP.md
!NEXT-SESSION.md
!CONTRIBUTING.md
!LICENSE
!.gitignore
!build/
build/*
!build/v86_patched.js
!build/v86.wasm
!build/xterm.js
!bios/
bios/*
!bios/seabios.bin
!bios/vgabios.bin
!images/
images/*
!images/buildroot-bzimage68.bin
!images/alpine-vmlinuz
!images/alpine-initramfs
!images/alpine-fs.json
!images/alpine-rootfs-flat/
images/alpine-rootfs-flat/*
!images/alpine-rootfs-flat/*.bin.zst
!alpine-build/
alpine-build/*
!alpine-build/Dockerfile
!alpine-build/build.sh
